body {
    font-family: 'Playfair Display', serif;

}

#menu {
    height: 10em;
    width: 10em;

    background-color: aqua;
}
.ConfirmationReservation {
    font-size: 3em;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 1rem;
}

h3 {
    font-size: 2em;
    font-style: italic;
    color: black;
}
h2{
    font-size: 1.5em;
    font-style: italic;
    color: black;
}
.fiche_representation{
    color: black;
}
.bg-theatre {
    background-color: #4B0000; /* bordeaux profond */

}
.mb-3{
    color: black;
}
.bg-dark{
    border : 2px solid black;
}
.container my-5{
    color: black;
}


.txtGras {
    font-weight: bold;
    font-size: 130%;
}

#menu ul {
    list-style-type: none;
    padding: 0;

}

#contenu {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    font-size: 1.4em;
}

body {
    background-color: #f8f9fa;
}

a.nav-link:hover {
    text-decoration: underline;
    transition: 0.3s;
}

.table th, .table td {
    vertical-align: middle;
}

.table th {
    background-color: #f1f1f1;
    font-weight: bold;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
}

.navbar-nav .nav-link,
.btn {
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover,
.btn:hover {
    opacity: 0.8;
}


.description-cell {
    max-height: 150px;
    overflow-y: auto;
    white-space: pre-wrap;
    background-color: #f8f9fa;
    padding: 8px;
    border-radius: 5px;
}

.delete:hover {
    color: #dc3545;
    transform: scale(1.1);
    transition: 0.2s ease;
}

.table td,
.table th {
    vertical-align: middle;
}
